/* Reset Default CSS */
*{
    margin: 0;
    padding: 0;
}

/* Body */
body{
    padding: 30px 6%;
    background-color: #F5F5F5;
    font-family: "Fira Sans", system-ui;
}

/* Centered Element */
.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.text-center{
    text-align: center;
}

/* Colors */
.bg-main{
    background-color: #C6E4D6;
}
.text-main{
    color: #0E0E0E;
}
.text-secondary{
    color: #0E0E0E80;
}

/* borders */
.border-1-grey{
    border: 1px solid #0E0E0E26;
}
.radius-16{
    border-radius: 16px;
}
.radius-24{
    border-radius: 24px;
}

/* buttons */
.btn{
    height: 56px;
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

/* Fonts */
.font-fira-sans {
  font-family: "Fira Sans", system-ui;
}
.font-56{
    font-size: 56px;
}
.font-40{
    font-size: 40px;
}
.font-24{
    font-size: 24px;
}
.font-20{
    font-size: 20px;
}
.font-16{
    font-size: 16px;
}
.weight-400{
    font-weight: 400px;
}
.weight-500{
    font-weight: 500;
}
.weight-700{
    font-weight: 700;
}

/* Hover */
.hoverable{
    transition: all 0.3 ease;
}
.hoverable:hover{
    opacity: 0.6;
}

/* Banner Section */
#banner-section{
    padding: 80px 100px;
}
#banner-section .banner_hero-title {
   gap: 24px;
}
#banner-section .banner_hero-title{
    line-height: 67.2px;
}
#banner-section .banner_hero-img img{
    height: 400px;
    max-width: 100%;
}